<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,400&display=swap" rel="stylesheet">
    <title>Uchi's Playground - Home</title>
</head>
<body>
    <h1 class="heading">Uchi's<br>Playground</h1>

    <div class="experiments">
        <div class="grid">
            <a class="experiment" href="/file-upload">File Uploading using Multer</a>
            <a class="experiment" href="/payment">Payment Gateway using Stripe.js</a>
        </div>
    </div>
</body>
</html>